Checks: >
  *,
  -*-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-calls,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -modernize-use-trailing-return-type,
  -performance-unnecessary-value-param,
  -readability-else-after-return,
  -readability-named-parameter,
WarningsAsErrors: '*'
HeaderFilterRegex: '*.hpp'
FormatStyle: file
